.draft-post {
  margin: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a20dc7 !important;
  color: white !important;

  .h5 {
    margin-bottom: 0;
  }
}

.btn-wrapper {
  margin: 0 3px;
  border-radius: 10px;
  padding-bottom: 5px;
  border-color: #a20dc7;
  background-color: white;
}

.card-text {
  white-space: pre-line;
}