.draft-post {
  margin: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.btn-wrapper {
  margin: 0 3px;
  border-radius: 5px;
  padding-bottom: 5px;
  border-color: #fefefe;
}

.card-text {
  white-space: pre-line;
}